@model IEnumerable<ProvaTT.Models.RegistroAcesso>

@{
    ViewBag.Title = "RegistroAcesso";
}

<h2>RegistroAcesso</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAcesso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAcesso)
        </td> 
    </tr>
}

</table>
